<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
</p>
<h2>About Bike Berlin. . .</h2>
<p>Bike Berlin is the perfect site to find a dependable used bike.  We conduct a thorough inspection and certify every bike we sell!</p>
