<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
</p>
<h2>How to Contact Bike Berlin. . .</h2>
<ul>
  <li>Phone: (555) 123-4567</li>
  <li>E-mail: john@bikeberlin.com</li>
  <li>Address: 123 Maple St. Berlin</li>
</ul>

