<div class="panel panel-default">
  <div class="panel-body thank-you">
  <%= image_tag("thank_you.png", class: "img-responsive thank-you-image") %>
    <strong>We have received your message and will respond as soon as possible.</strong>
  </div><!-- / panel-body -->
</div><!-- / panel -->