// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#product-name {
	margin-left: 40px;
	text-decoration: underline;
	text-transform: uppercase;
}
#product-description {
	margin-left: 100px;
	text-decoration: underline;
	text-transform: uppercase;
}
#image-url {
	margin-left: 100px;
	text-decoration: underline;
	text-transform: uppercase;
}
#product-colour {
	margin-left: 100px;
	text-decoration: underline;
	text-transform: uppercase;
}
#product-price {
	margin-left: 100px;
	text-decoration: underline;
	text-transform: uppercase;
}
.product {
	margin-top: 40px;
	margin-bottom: 60px;
}
.description-detail p {
	padding-left: 500px;
	text-align: center;
}
