<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<nav>
	  <ul>
	    <li><a>Home</a></li>
	    <li><a>About</a></li>
	    <li><a>Inventory</a></li>
	    <li><a>Contact</a></li>
	  </ul>
	</nav>
    <%= yield %>
    <footer>
    <div class="twitter">
        <a href="https://twitter.com/summitwebdev" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @summitwebdev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div><!--end twitter-->
      <div class="fb-like" data-href="https://facebook.com/summit.webdev.1" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
      </div>
  	&nbsp&nbsp&copy; 2015 Bike Berlin
	</footer>
  </body>
</html>
